.login {
    display: flex;
    flex-direction: column;
}

.element {
    padding-bottom: 1em;
}

.field {
    height: 40px;
    font-size: 20px;
    margin-bottom: 0.5em;
}

.title {
    font-size: 40px;
}

.button {
    width: 250px;
    height: 30px;
    font-size: 15px;
}