<div class="login">
    <div class="element">
        <span class="title">Connexion</span>
    </div>
    <div class="element">
        <div class="field">
            <input class="field" matInput placeholder="Email" [(ngModel)]="email">
        </div>
        <div class="field">
            <input class="field" matInput placeholder="Password" [(ngModel)]="password" type="password">
        </div>
    </div>
    <div class="element">
        <button class="button" (click)="onLogIn()">Log in</button>
    </div>
</div>